
.container {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  text-align: center;
  width: $base-width;

  .body {
    background-color: $base-back;
    border-radius: $base-radius;
    color: $base-text;
    margin: $base-margin auto;
    padding: $base-padding;
    width: $app-body-width;

    h1 {
      text-align: center;
    }
  }
}

.counter {
  button {
    margin: $base-margin / 4;
    width: $counter-width;

    .counter-number {
      // 
    }

    i {
      color: $base-back;
      font-size: $button-font;
      font-weight: $bold-weight;
    }
  }
}

.user-container {
  width: 100%;

  .user-list {
    @include flexbox;
    @include flex-direction(row);
    margin: $base-margin;
    box-shadow: 2px $scroll-shadow;

    .users {
      @include flexbox;
      @include justify-content(flex-start);
      @include align-content(flex-start);
      margin: 0;
      overflow-x: scroll;
      padding: $base-padding;
    }
  }
}


.user-object {
  list-style-type: none;
  margin: $base-margin;
  min-width: $object-width;

  img {
    height: $object-size;
    width: $object-size;
  }
}

.progress {
  margin: auto;
  width: $app-body-width;

  .progress-bar {
    width: $progress-width;
  }
}
