.btn-light {
  background: $base-text;
  color: $base-back;
}

.light-scroll {
  scrollbar-3dlight-color: $scroll-back;
  scrollbar-arrow-color: $scroll-back;
  scrollbar-darkshadow-color: $scroll-back;
  scrollbar-face-color: $scroll-color;
  scrollbar-highlight-color: $scroll-back;
  scrollbar-shadow-color: $scroll-back;
  scrollbar-track-color: $scroll-back;
}

.light-scroll::-webkit-scrollbar {
  width: 12px;
}

.light-scroll::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px $scroll-shadow;
  border-radius: 10px;
}

.light-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px $scroll-shadow; 
  background: $scroll-color; 
  border-radius: 10px;
}