
$base-padding: 20px;
$base-margin: 20px;
$base-radius: 5px;
$base-width: 100%;

$base-text: #ffffff;
$base-back: #3188da;

$font-base: 20px;
$button-font: 40px;

$bold-weight: 600;

$scroll-back: #ffffff;
$scroll-color: #367Cd2;
$scroll-shadow: rgba(0,0,0,0.3);

// App varibles

$app-body-width: 400px;


// Counter

$counter-width: 50px;

// User List

$object-width: 80px;
$object-size: 40px;

// Progress BaR

$progress-width: 50%;